<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center; font-size: 20px;">
      Tracktics demo
  </div>
  <div *ngIf="success" class="alert alert-success" role="alert">
    Piches retrieved successfully!
  </div>
  <div *ngIf= "fail" class="alert alert-danger" role="alert">
    An error occured!
  </div>
  <div style="text-align: center;">
    <button (click)="fetch()" class="btn btn-primary">Start</button>
  </div>

  <router-outlet></router-outlet>


</div>
